<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <% product.reviews.forEach(function(review){ %>
  
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author"><%= review.author.username %></a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      

      <div class="text">
        <span style=" font-size: 1.2 em;" class="ui star rating" data-rating="<%= review.rating %>" data-max-rating="5"></span>

      </div>
      <div class="text">
        <%= review.text %>
      </div>
      <div class="actions">
     
      </div>
    </div>
  </div>
 <% }) %>

</div>
<form action="/products/<%= product._id %>/reviews" method="POST" class="ui reply form">
  <div class="field">
    <span style="font-weight: bold; font-size: 1.5em;"">Rating</span>

        <div id="reviewRatingInput" style=" font-size: 1.5 em;" class="ui star rating" data-rating="" data-max-rating="
        5"></div>




  </div>
  <div class="field">
    <input type="hidden" id="reviewRatingForm" name="review[rating]" value="">
    <span style="font-weight: bold; font-size: 1.5em;"">Review</span>
      <textarea name=" review[text]"></textarea>
  </div>
  <button class=" ui orange labeled submit icon button">
    <i class="icon edit"></i> Create Review
  </button>
</form>
</div>

<script>
  $('.ui.rating').rating();


 
  $("#reviewRatingInput").click(function () {
    $('#reviewRatingForm').val($("#reviewRatingInput").rating('get rating'))


      ;
  })


</script>