<div class="row">

    <div class="col-md-12 col-lg-6  col-sm-12 d-none d-md-block d-lg-block">
  
      <div class="shapes">
  
        <div class="shape square"></div>
        <div class="shape circle"></div>
        <div class="shape triangle"></div>
  
      </div>
  
      <img src="/img/clipart/artisan-vector.png" alt="" width="500px" height="500px">
  
    </div>
    <div class="col-md-12 col-lg-6  col-sm-12 ">
      <div class="jumbotron hero">
        <h1 class="">Artisanship</h1>
        <h2 class="lead">Heirloom direct trade kogi, VHS cardigan vape +1 neutra post-ironic.</h2>
        <hr class="my-4">
        <p>Tacos synth pickled pug bespoke retro cronut. Messenger bag shoreditch food truck brooklyn viral kitsch
          cliche shaman banjo echo park live-edge fashion axe.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <a class="btn btn-secondary btn-lg" href="#" role="button">Sign Up</a>
  
      </div>
    </div>
  
  </div>