<%- include('partials/form-header') %>
<div class="ui middle aligned center aligned grid">

    <div class="column">

        <div style="font-size: 200px; padding:150px 0;" class="content">
            404
        </div>
        <div style="font-size: 30px; padding:10px " class="content">
            Page not found :(
        </div>

        <a href="/" class="ui fluid large orange submit button">Go Back</a>

    </div>
</div>

</body>

</html>