<%- include('partials/form-header') %>
<div class="ui middle aligned center aligned grid">
  
  <div class="column">

    <form action="/confirmation" method="POST" class="ui large form">
	
      <div class="ui stacked segment">
		  	    <h2 class="ui teal image header">
  
      <div class="content">
        Confirm Your Email address
      </div>
    </h2>
 
		  <button class="ui fluid large white submit button" type="submit">Confirm Account</button>
		</div>

      <div class="ui error message"></div>

    </form>

 
  </div>
</div>
<script>
  $('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  })
;
</script>
</body>

</html>
