<%- include('partials/home-header') %>

<div class="pusher">
	<div class="wave-container">
		<div class="ui inverted vertical masthead center aligned segment" style="padding-bottom: 300px;">
			<ul class="slideshow">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<%- include('partials/navbar') %>
			<div class="ui stackable grid centered">
				<div class="six wide column">
					<div class="ui text container">
						<h1 class="ui inverted header">
							Artisanship
						</h1>
				
						<div class="ui huge  white button">
							<i class="down arrow icon"></i>
							Read more
					
						</div>
						<a href="/register" id="registerBtn" class="ui huge  orange button">
							<i class="user plus	icon"></i>
							Sign up
					
						</a>
					</div>
				</div>
			</div>
		</div>

		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" id="wave1">
			<path fill="#ff8800" fill-opacity="1"
				d="M0,256L60,240C120,224,240,192,360,197.3C480,203,600,245,720,256C840,267,960,245,1080,229.3C1200,213,1320,203,1380,197.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
			</path>
		</svg>
	</div>
	<div class="background-white">
		<div class="wave-container">
			<div class="ui vertical stripe segment" id="textSection">
				<div class="ui stackable centered grid container" id="start">
					<div class="row">
						<div class="sixteen wide column">
							<h3 class="ui header">A New Way Of E-commerce</h3>
							<h2 class="">
								Connect with hunderds of creators all over the world. Discover a whole
								new way of sourcing your products and start selling unique and
								meaningful products to your customers.
							</h2>
							<p>
								We believe that ecommerce can be sustainable and support local
								buisnesses. We created an ecosystem where merchant and creator work
								together. .
							</p>
							<div class="ui section divider"></div>

							<h3 class="ui header">Unique Products, Made Locally</h3>
							<p>
								Find hand made artisanal products that are made close to where the
								customer lives. No need to ship it all over the world.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="center aligned column">
							<a class="ui huge inverted button">Learn more</a>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		<div class="wave-container how-it-works-container" id="howItWorks">
			<div style="padding-bottom: 200px;" class="ui container">

				<h1 class="ui center aligned centered mega huge header " style="font-size: 5em; padding:1em;">How It Works</h1>
				<div class="ui   centered   grid">
					<div class="row how-it-works-section">

					
					<div class=" four wide center aligned column">
						<i class="search icon"></i>
					
							<div class="title">1. Browse</div>
							<div class="description">
								Use our collection of artisanal and custom made products and find amazing products that will make you stand out of the crowd.

							</div>
							
						</div>
						<div class=" center aligned  four wide column">
							<i class="plus icon"></i>
						
								<div class="title">2. Transfer Products</div>
								<div class="description">
									Once you have found your products you can easily import them to your desired e-commerce platform.

								</div>

							
						</div>
						<div class="center aligned  four wide column">
							<i class="dollar icon"></i>
					
								<div class="title">3. Sell Your Product</div>
								<div class="description">
									Sell the product on your store once you made the sale, you order the product on Artisanship.
								</div>
							
						</div>
						<div class="center aligned four wide column">
							<i class="truck icon"></i>
						
								<div class="title">4. Fulfilment</div>
								<div class="description">
									When the order is placed with the creator they will ship the product to the customer for you.

								</div>
							
							
						</div>
					</div>
					</div>

				</div>
				<svg style="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
					<path fill="#273036" fill-opacity="1"
						d="M0,256L60,240C120,224,240,192,360,197.3C480,203,600,245,720,256C840,267,960,245,1080,229.3C1200,213,1320,203,1380,197.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
					</path>
				</svg>
			</div>
			<div class="wave-container">
				<div class="ui vertical stripe segment" id="textSection">
					<div class="ui middle aligned stackable grid container">
						<div class="ui equal width centered grid">
							<div class="row">
								<div class="column" id="pricing">
									<div class="ui card">
										<div class="ui center aligned content">
											<div class="header">Free</div>
										</div>
										<div class="ui center aligned content">
											<h4 class="ui large header">Starter</h4>
											<div class="ui small feed">
												<div class="event">
													<div class="ui center aligned content">
														<div class="ui center aligned summary">
															<h1 class="ui huge header" style="font-size: 70px;">
																5
															</h1>

															<p>
																Unique Products
															</p>
															<div class="meta">
																$1.00 For each additional product
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="extra center aligned content">
											<button class="ui inverted orange button">
												Sign Up Now
											</button>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="ui card">
										<div class="ui center aligned content">
											<div class="header">$10.00 /mo</div>
										</div>
										<div class="ui center aligned content">
											<h4 class="ui large header">Basic</h4>
											<div class="ui small feed">
												<div class="event">
													<div class="ui center aligned content">
														<div class="ui center aligned summary">
															<h1 class="ui huge header" style="font-size: 70px;">
																30
															</h1>

															<p>
																Unique Products
															</p>
															<div class="meta">
																$0.50 For each additional product
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="extra center aligned content">
											<button class="ui inverted orange button">
												Sign Up Now
											</button>
										</div>
									</div>
								</div>
								<div class="column">
									<div class="ui card">
										<div class="ui center aligned content">
											<div class="header">$20.00 /mo</div>
										</div>
										<div class="ui center aligned content">
											<h4 class="ui large header">Unlimited</h4>
											<div class="ui small feed">
												<div class="event">
													<div class="ui center aligned content">
														<div class="ui center aligned summary">
															<h1 class="ui huge header" style="font-size: 70px;">
																∞
															</h1>

															<p>
																Unique Products
															</p>
															<div class="meta">
																<a>No restrictions</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="extra center aligned content">
											<button class="ui inverted orange button">
												Sign Up Now
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<svg id="bottomSvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
					<path fill="#273036" fill-opacity="1"
						d="M0,160L80,138.7C160,117,320,75,480,80C640,85,800,139,960,149.3C1120,160,1280,128,1360,112L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
					</path>
				</svg>
			</div>



		</div>
	</div>

	<%- include('partials/footer') %>

	<script></script>