<%- include('partials/header') %>
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <div class="ui middle aligned center aligned grid">
        <div class="column">

            <form action="/register" method="POST" class="ui large form">
                <div class="ui stacked segment">
                    <h2 class="ui teal image header">

                        <div class="content">
                            Register
                        </div>
                    </h2>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid large grey submit button" type="submit">Sign up</button>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                Already have an account?
                <a href="/login">login</a>
            </div>
        </div>
    </div>