@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,500,600,700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,136,0,1) 100%);
}
body > .grid {
    height: 100%;
}
.image {
    margin-top: -100px;
}
.column {
    max-width: 450px;
}

.segment h2 .content{
	font-family: 'Josefin Sans', sans-serif !important;
	font-size :35px !important;
	color: #414241 !important;
	padding: 20px;
}