@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,500,600,700&display=swap');

#indexContainer {
	margin: 50px;
}

#ProductDeleteFormBtn {
	display: inline;
}

.ui.rating .active.icon {
    background: 0 0;
    color: rgba(220, 176, 0, 0.87);
}

.product-page-segment{
	height: 100%;
	margin: 50px 0;
}
.container .product-page-detail {
	border:none;
	box-shadow:none;
}

.container .product-page-detail h1{
    font-size: 4.5em;
    font-family: serif;
    font-weight: normal;
    letter-spacing: 3px;
	overflow-wrap: break-word;
    margin: 0px;
    line-height: 0.9em;
}


.container .product-page-detail .review-stars .star{
	color: #ffce38;
}

.container .product-page-detail .price-section {
	font-size:1.1em;
	color:#121212;
	font-weight:lighter;
	padding: 10px 20px;
}
.container .product-page-detail .price-section  .retail-price{
	float:right;
	text-align:center;
}

 .container .product-page-detail .price-section  .unit-price{
	float:left;
	text-align:center;
}

 .container .product-page-detail .price-section .price-text{
	font-size: 1.3em;
	 font-weight:bold;
	letter-spacing: 2px;
}
body {
	background: #ededed;
	padding-bottom: 100px;
}

.ui.secondary.pointing.menu {
	background: white;
}
.container {
	margin-top: 50px;
}

.card {
	margin-top: 10px;
}

.ui.header+p {
    margin-top: 1em;
}

/* admin panel styling */


.product-search.container {
	padding: 2em;
	margin-top: 3em;
} 
.product-search.container .input {
	font-size: 1.2em;
} 

.comments .rating{
	font-size: 1.5em;
	color: #ffce38;
}
.comments .rating{
	font-size: 1.5em;
	color: #ffce38;
}
.labels.search{
	padding: 1em;
	background-color: transparent;
}

.basic.search.label:hover{
	background-color: #f2711c !important;
	color: white !important;
	cursor: pointer;
}

.search-button:hover{
	background-color: #cc4f04 !important;
	color: white !important;
	cursor: pointer;
	border: 2px solid #f2711c;
}

table .content a {
	color:#121212;
}

table .content a:hover{
	color:orange;
}


.dashboard .basic.orange.button:hover {
	background-color: #f2711c !important;
	color: white !important;
	cursor: pointer;
}
.filter {
	margin-left:10px;
}

.label.filter:hover{
	background-color: #f2711c !important;
	color: white !important;
	cursor: pointer;
}
.add-button button:hover{
		font-weight:bold;
	color:black;
	font-size: 1.1em;
	cursor: pointer;
}

.add-product:hover{
	font-weight:bold;
	color:black;
	font-size: 1.2em;
	cursor: pointer;
}
.admin-metrics-panel {
	margin-top: -50px;
	width: 100%;
	height: 350px;
	background-color: #1934ff;
	background-image: url(https://i.pinimg.com/originals/8d/76/32/8d7632c13a0ac4a9ba29a0cec4b975f2.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.add-button button{
	background-color:transparent;
	border:none;
	
}
.add-button button:focus{
	border:none;
	outline: 0;
}

.ui.card > .image:not(.ui) > img,
.ui.cards > .card > .image:not(.ui) > img {
	height: 250px;
}
.ui.card:first-child {
	margin-top: 0;
	height: 100%;
}
.item:active {
	border-bottom: 2px solid black;
	border-bottom-color: black !important;
	font-weight: bold;
}
.ui.secondary.pointing.menu .item:hover {
	font-weight: bold;
}

#AddProductBtn:active {
	background-color: orange;
}

#nav {
	background-color:#e27706;
}

#nav .item {
	color: white;
	font-size:1.2em;
}

.card .description p {
	font-size:1.5em;
	font-weight:bold;
	color:#101010;
}

.shipping-info {
	
}

.dashboard-card-text{
	    font-size: 0.7em;
    font-weight: lighter;
    color: grey;
    padding: 5px;
}

input #image:before{
	 content: hello;
}
input#image{
	margin: 0 auto;
	 width: 30%;
}